
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Group</title>
</head>
<body>
  <a href="/group/add">Add Group</a>
  <h2>List Group</h2>
  <table border="1">
    <a href=""></a>
    <tr>
      <th> No </th>
      <th> Nama </th>
      <th> Email Group </th>
      <th> Option </th>
    </tr>
    <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <td> <%= i + 1 %></td>
        <td> <%= data[i].getGroupName() %></td>
        <td> <%= data[i].email_group %></td>   
        <td> <a href="/group/edit/<%= data[i].id%>">Edit | </a> <a a href="/group/delete/<%= data[i].id%>"> Delete</a> <a href="/group/message/<%= data[i].id%>"> | Show Messsages | </a> <a href="/group/addMessage/<%= data[i].id%>"> Add Message | </a> <a href="/group/student/<%= data[i].id%>"> Show Students</a></td>
      </tr>
    <% } %>
  </table>

</body>
</html>